<div class="container-sm">
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
  <div class="workflow-info-card">
    <div class="card-">
      <div class="d-flex justify-content-between">
        <div>
          <div style="display: inline-flex">
            <a class="edition-only" href="{% url 'workflow' workflow.id %}">
              <h4 class="card-title">
                {{workflow.name}}
                <i class="bi bi-link"></i>
              </h4>
            </a>
            <span class="edition-only text-secondary ms-2">
              | Version number: {{version.version_number}}</span
            >
            <div class="edition-only d-flex ms-3">
              {% if version.is_active %}
              <div><span class="badge bg-success">Active</span></div>
              {% endif %} {% if version.is_edition %}
              <div><span class="badge bg-primary">Draft</span></div>
              {% endif %} {% if not version.is_edition and not version.is_active %}
              <div><span class="badge bg-secondary">Inactive</span></div>
              {% endif %}
              <br />
            </div>
          </div>
        </div>
        <div>
          {% if not version.is_active %}
          <button
            type="button"
            class="btn btn-sm btn-primary"
            id="btn-mark-active-version"
          >
            <i class="bi bi-bookmark-star"></i>
            Set as active version
          </button>
          {% else %}
          <button
            type="button"
            class="btn btn-sm btn-primary"
            id="btn-create-version"
          >
            <i class="bi bi-pencil"></i>
            Create editable version
          </button>
          {% endif %}
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
            id="btn-view-definition"
          >
            <i class="bi bi-filetype-json"></i>
            View definition
          </button>
        </div>
      </div>
      <ul id="wf-tabs" class="nav nav-tabs mb-4 mt">
        <li
          class="nav-item"
          data-bs-toggle="offcanvas"
          href="#offCanvasInputs"
          role="button"
          aria-controls="offCanvasInputs"
        >
          <a class="nav-link" href="#">
            <i class="bi bi-box-arrow-in-right me-1"></i>Inputs</a
          >
        </li>
        <li
          class="nav-item"
          data-bs-toggle="offcanvas"
          href="#offCanvasVariables"
          role="button"
          aria-controls="offCanvasVariables"
        >
          <a class="nav-link" href="#">
            <i class="bi bi-code-square me-1"></i>
            Variables</a
          >
        </li>
        <li
          class="nav-item"
          data-bs-toggle="modal"
          data-bs-target="#workflow-info-modal"
        >
          <a class="nav-link" href="#">
            <i class="bi bi-info-circle me-1"></i>Workflow Info</a
          >
        </li>
      </ul>

      <!-- <a href="#" class="card-link">Card link</a> -->
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>

  <div id="panel-diagram" class="content-panel">
    <div id="components-flow" class="workflow-center">
      <div id="flow-start-node">
        <span>Start</span>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 justify-content-center"
    >
      <button
        class="btn btn-outline-primary main-add-component"
        style="display: none"
      >
        <i class="bi bi-plus me-2"></i>
        Add Component
      </button>
    </div>
  </div>

  <div
    class="offcanvas offcanvas-lg offcanvas-start"
    tabindex="-1"
    id="offCanvasVariables"
    aria-labelledby="offCanvasVariablesLabel"
    data-bs-scroll="true"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offCanvasVariablesLabel">
        Workflow Variables
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Add variables to the workflow. Variables are used to store data that can
        be used by any node across in the workflow.
      </div>
      <div
        id="variables-container"
        class="row gap-1 py-md-2 align-items-center justify-content-center width-md-30"
      >
        <div class="card p-0">
          <div id="variables"></div>
          <label class="d-grid mt-2">
            <button class="btn btn-outline-primary add-variable">
              <i class="bi bi-plus me-2"></i>
              Add Variable
            </button>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offCanvasInputs"
    aria-labelledby="offCanvasInputsLabel"
    data-bs-scroll="true"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offCanvasInputsLabel">
        Workflow input values
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Add and configure the input values for the workflow. This initial values
        are used to pass data to the workflow when it is executed.
      </div>

      <div
        id="inputs-node"
        class="row gap-4 py-md-2 align-items-center justify-content-center"
      >
        <div class="card p-0">
          <div class="card-body p-1">
            <div class="list-group" id="inputs"></div>
          </div>
          <label class="d-grid mt-2">
            <button class="btn btn-outline-primary add-input">
              <i class="bi bi-plus me-2"></i>
              Add Input
            </button>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-xl offcanvas-end"
    tabindex="-1"
    id="component-side-panel"
    aria-labelledby="component-side-panelLabel"
    data-bs-scroll="true"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="component-side-panelLabel">
        Offcanvas right
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body"></div>
    <footer></footer>
  </div>
  <!-- Modals -->
  {% include 'modals/inputs_modal.html' %}
  {% include 'modals/variables_modal.html' %} 
  {% include 'modals/confirmation_modal.html' %}

  <!-- END: Modals -->

  <script src="/static/pages/workflow/workflow.js"></script>
  <script src="/static/pages/workflow/inputs.js"></script>
  <script src="/static/pages/workflow/variables.js"></script>
  <script src="/static/pages/workflow/components.js"></script>
  <script src="/static/pages/workflow/component_loop.js"></script>
  <script src="/static/pages/workflow/component_utils.js"></script>
  <script src="/static/pages/workflow/component_on_fail.js"></script>
  <script src="/static/pages/workflow/toolbox.js"></script>

  <!-- Fragments -->
  {% include 'fragments/component_node.html' %}
  {% include 'fragments/routing_template.html' %}
  {% include 'fragments/value_popover.html' %}
  <!-- END: Fragments -->
  <!-- Modals -->
  {% include 'modals/component_creation_modal.html' %}
  {% include 'modals/workflow_info_modal.html' %}
  <!-- END: Modals -->

  <script>
    $(() => {
      // Initialize the workflow diagram
      const workflow_id = $("#workflow_id").val();
      const version_id = $("#version_id").val();
      const is_edition = $("#is_edition").val() === "true";
      const versionFile = $("#version_data").data("version-file");
      const isEditable = $("#version_data").data("is-editable");
      const options = {
        workflow_id,
        version_id,
        is_edition: isEditable === "True" && is_edition,
        is_diagram: true,
        // sidePanel: $("#component-side-panel").SlideOutPanel({
        //   width: "760px",
        //   afterClosed: function () {
        //     workflow_toolbox.cancelNewLine();
        //   },
        // }),
        sidePanel: {
          panel: new bootstrap.Offcanvas($("#component-side-panel")),
          open: function () {
            this.panel.show();
          },
          close: function () {
            this.panel.hide();
          },

          find: function (selector) {
            return $(this.panel._element).find(selector);
          },
          setOnHideEvent: function () {
            this.panel._element.addEventListener(
              "hidden.bs.offcanvas",
              function () {
                workflow_toolbox.cancelNewLine();
              }
            );
          },
        },
      };
      options.sidePanel.setOnHideEvent();

      if (!is_edition) {
        $(".edition-only").remove();
      }
      workflow_inputs.init(options, "inputs-node");
      workflow_variables.init(options, "variables-container");
      workflow_toolbox.init();

      document.addEventListener("variables:change", () => {
        if (!workflow_components.has_init) {
          workflow_components.init(options, "components-flow");
        }
      });

      $("button.main-add-component").on("click", function () {
        if (isEditable) $("#component-creation-modal").modal("show");
      });
      $("#btn-view-definition").on("click", function () {
        const versionFile = $("#version_data").data("version-file");
        const url = `${window.location.origin}/${versionFile}`;
        window.open(url, "_blank").focus();
      });
      $("#btn-mark-active-version").on("click", function () {
        const button = $(this)
        if (button.attr("disabled")) return;
        button.attr("disabled", true);
        component_utils.confirmationModal.open(
          "New workflow version",
          `Are you surte you want to set this version as active? <br> Any new workflow instances will use this version.`,
          function () {
            bwf_workflow.api
              .markVersionAsCurrent(version_id, workflow_id)
              .then((response) => {
                component_utils.confirmationModal.enableButtons();
                button.attr("disabled", false);
                if (response) {
                  if (response.success) {
                    window.location.reload();
                  } else {
                    alert(
                      (response.message ||
                        "An error occurred while marking the version as active.") +
                        "\n" +
                        "Errors: \n" +
                        (response.errors || []).join("\n")
                    );
                  }
                } else {
                  alert(
                    "An error occurred while marking the version as active"
                  );
                }
              })
              .catch((error) => {
                console.error(error);
                alert("An error occurred while marking the version as active");
                button.attr("disabled", false);
                component_utils.confirmationModal.enableButtons();
              });
          },
          function () {
            button.attr("disabled", false);
            component_utils.confirmationModal.enableButtons();
          }
        );
      });
      $("#btn-create-version").on("click", function () {
        if ($(this).attr("disabled")) return;
        $(this).attr("disabled", true);
        const api_data = {
          version_id,
          workflow_id,
          name: `Untitled`,
        };
        bwf_workflow.api
          .createWorkflowVersion(api_data)
          .then((response) => {
            $(this).attr("disabled", false);
            bwf_workflow.navigate.toVersionEdition(
              response.workflow.id,
              response.id
            );
          })
          .catch((error) => {
            console.error(error);
            $(this).attr("disabled", false);
          });
      });
    });
  </script>
</div>
