{% extends 'govapp/bwf_base.html' %} {% block content %}
<div class="container-sm">
  <h1>BWF Components</h1>
  <p>Customize your business workflows here.</p>
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
  <button class="btn btn-primary" id="add-workflow" type="button">
    <i class="bi bi-plus"></i>
    New Workflow
  </button>

  <table id="tb_workflows" class="table" style="width: 100%">
    <tbody id="publish-tbody">
      <tr>
        <td colspan="8" class="text-center">Loading...</td>
      </tr>
    </tbody>
  </table>
</div>
<script src="/static/pages/workflow/workflow_dashboard.js"></script>
<script src="/static/pages/workflow/workflow.js"></script>
<!-- Modals -->
{% include 'modals/new_workflow_modal.html' %}

<script>
  $(() => {
    workflow_dashboard.init();
    $("#add-workflow").on("click", function () {
      $("#workflow-creation-modal").modal("show");
    });
    $(".edit-version-btn").on("click", function () {

    })
    $(".new-version-btn").on("click", function () {
      const _ = bwf_workflow;
      const button = $(this);
      const workflow_id = $(this).data("workflow-id");
      button.attr("disabled", true);
      const data = {
        name: `Untitled`,
        workflow_id,
      };
      _.api
        .createWorkflowVersion(data)
        .then((response) => {
          button.attr("disabled", false);
          _.navigate.toVersionEdition(response.workflow.id, response.id);
        })
        .catch((error) => {
          button.attr("disabled", false);
          console.error(error);
        });
    });
  });
</script>
{% endblock %}
