<div
  class="modal fade"
  id="component-creation-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="component-creation-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="component-creation-modal-label">
          Insert Component <span></span>
        </h5>
        <button
          type="button"
          class="btn btn-ghost"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="components-form">
        <div class="modal-body">
          <div class="row my-2">
            <div class="col-8">
              <p class="">
                Select a component definition to create a new component.
              </p>
            </div>
            <div class="col-4">
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="plugin-search-box"
                  placeholder="Search plugins..."
                />
              </div>
            </div>
          </div>
          <div class="row" id="definitions"></div>

          <hr class="my-2" />
          <div class="mb-3">
            <label for="component-name" class="form-label">Node Name</label>
            <input type="text" class="form-control" id="component-name" />
          </div>
          <div
            id="component-route"
            class="mt-2"
            style="border-top: 1px solid #ccc"
          >
            <label class="form-label">Insert before?</label>
            <div id="components-list"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close-button">
            Close
          </button>
          <button type="submit" class="btn btn-primary create-component-button">
            Create Component
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/static/pages/workflow/component_creation.js"></script>
<script>
  $(() => {
    component_creation.init();
  });
</script>

<style>
  #definitions .list-group {
    width: 100%;
    max-width: 460px;
    margin-inline: 1.5rem;
  }

  #definitions .form-check-input:checked + .form-checked-content {
    opacity: 0.5;
  }

  #definitions .form-check-input-placeholder {
    border-style: dashed;
  }
  [contenteditable]:focus {
    outline: 0;
  }

  #definitions .list-group-item {
    cursor: pointer;
  }
  #definitions .list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  #definitions .list-group-item-check:hover + .list-group-item {
    background-color: var(--bs-secondary-bg);
  }
  #definitions .list-group-item-check:checked + .list-group-item {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    font-weight: 600;
  }
  #definitions .list-group-item-check:checked + .list-group-item span {
    color: #e3e3e3 !important;
  }
  #definitions .list-group-item-check[disabled] + .list-group-item,
  #definitions .list-group-item-check:disabled + .list-group-item {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
  }

  #definitions .list-group-radio .list-group-item {
    cursor: pointer;
    border-radius: 0.5rem;
  }
  #definitions .list-group-radio .form-check-input {
    z-index: 2;
    margin-top: -0.5em;
  }
  #definitions .list-group-radio .list-group-item:hover,
  #definitions .list-group-radio .list-group-item:focus {
    background-color: var(--bs-secondary-bg);
  }

  #definitions .list-group-radio .form-check-input:checked + .list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 2px var(--bs-primary);
  }
  #definitions .list-group-radio .form-check-input[disabled] + .list-group-item,
  #definitions .list-group-radio .form-check-input:disabled + .list-group-item {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
  }
</style>
